.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  color: rgb(33, 33, 36);
  font-weight: 700;
  align-self: center;
  text-align: center;
  font-size: 2.5em;
  line-height: 4rem;
  margin-top: 2rem;
  margin-bottom: 20px;
}

.fieldColumns {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.snippet {
  padding: 0 20px 20px 20px;
  border-radius: 0.6rem;
  border: solid 0.2rem black;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem 0 rgba(33, 33, 36, 0.2);
  color: black;
  min-width: 500px;
  max-width: 500px;
  margin-bottom: 40px;
}

.backButton {
  background-color: rgba(114, 68, 246, 0.2);
  box-shadow: 0 0.5rem 1rem 0 rgba(33, 33, 36, 0.2);
  color: rgba(255, 255, 255, 1);
}
